<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href='../static/design.css'/>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <script src="../static/gestion.js"></script>


</head>

<body>
    <button class="button_style" id="b1" type="button"> Avancer</button>
    <button class="button_style" id="b2" type="button"> Reculer</button>
    <button class="button_style" id="b3" type="button"> Droite</button>
    <button class="button_style" id="b4" type="button"> Gauche</button>
    <button class="button_style" id="b5" type="button"> Stop</button>
    <button class="button_style" id="b6" type="button"> Auto</button>






</body>
</html>












